/* iPhone SE */

@media screen and (max-width: 480px) {
    /* home */
    .hi:nth-child(1) {
        margin: 3rem 0 1rem 0;
        font-size: 2.6rem;
    }
    .hi:nth-child(2) {
        margin: 2rem 0 2rem 0;
        font-size: 2.6rem;
        line-height: 4rem;
    }
    .my {
        margin: 2rem 0 0 0;
        font-size: 3.3rem;
    }
    .backDiv {
        display: none;
    }
    
    /* detail */
    .detailIntro {
        width: 100%;
        height: 100%;
    }
    .pic {
        width: 60%;
        height: 100%;
    }
    .name {
        display: none;
    }
    .down {
        display: flex;
        flex-direction: column;
    }
    .connect {
        width: 100%;
    }
    .detailContent {
        margin: 7% 0 0 0;
        width: 100%;
        height: 100%;
        font-size: 1rem;
        color: rgb(1, 1, 165);
        font-weight: 600;
        line-height: 27px;
        text-shadow: none;
    }

    /* hobby */
    .hobby {
        width: 105%;
    }
    .music {
        margin: 25px 0;
    }
    .musicImg {
        width: 50%;
        height: 100%;
    }
    .musicDetail {
        font-size: 1rem;
        line-height: 24px;
        text-shadow: none;
    }
    .exercise {
        margin: 40px 0;
    }
    .exerImg {
        width: 50%;
        height: 100%;
        background-position: 40% 50%;
    }
    .exerDetail {
        font-size: 1rem;
        line-height: 24px;
        text-shadow: none;
    }
    .piano {
        margin: 70px 0;
    }
    .pianoDetail {
        font-size: 1rem;
        line-height: 24px;
        text-shadow: none;
    }
}